.slick-track div{
	width: 1000px;
}
.slick-track{
	height: 360px;
}
.slick-slide img{
	width: 880px;
	height: 350px;
}
.slick-list{
	width: 85.5%;
	margin-left: 150px;
	float: right;
}
.ant-carousel .slick-dots li button{
	width: 39px;
	height: 10px;
}
.ant-carousel .slick-dots li.slick-active button{
	width: 66px;
}
.ant-carousel .slick-dots{
	position: relative;
	float: left;
	top: -40px;
	left: 380px;
	text-align:center;
}
.ant-col-9 div h1{
	color: #75a6c4;
	padding: 5px 0 0 5px;
	display: inline-block;
}
.oneNews p{
	float: right;
}
.oneNews{
	line-height: 30px;
}
.ant-col-9 .ant-card{
	margin-left: 10px;
}

.ant-card-body{
	padding: 21px;
}