.ant-layout-header{
    height:456px;
    background: url(./1.jpg) 100%;
}
.ant-card {    
    position: relative;
    left: 161px;

}
.ant-layout-content{
    min-height:550px;
    height:15px;
    background:none;
    background-color: #7d7907;
    
}
.anticon-user{
    position: relative;
    font-size: 40px;
    left: 1420px;
    top: 23px;
    cursor:pointer;
}
.denglu{
    position: relative;
    font-size: 28px;
    left: 53px;
    top:-42px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-form-button{
    position: relative;
    top: 70px;
}
.username
{
    position: relative;
    font-size: 28px;
    left: 69px;
    top:-42px;
}
#components-form-demo-validate-other .dropbox {
  height: 180px;
  line-height: 1.5;
}
.shangchuan{
    position: relative;
    top: 100px;
    left: 12px;
}
.anticon-inbox{
    color:rgba(238, 234, 73, 0.94)!important;
}
.ant-btn-primary{
    background-color:rgba(238, 193, 73, 0.73)!important;
    border-color: rgba(233, 200, 16, 0.95)!important;
}
.ant-upload-drag{
    border:none!important;
}
.shangchuanicon{
    font-size: 100px;
    position: relative;
    left: 9px;
    color: #EECF52;
    cursor: pointer;
}
.shangchuanicon2{
    position: absolute;
    left: 163px;
    color: #EECF52;
    font-size: 100px;
    cursor: pointer;
}
.ant-card-bordered{
    background-color:transparent;
}
.ant-table-thead tr th{
    background-color:rgba(251, 249, 201, 0.67)!important;
}
.ant-table-placeholder{
    background-color:transparent!important;
}
.ant-card-bordered{
    position: relative;
    left: 0px;
    top: 95px;
}

.ant-input-search{
    height: 48px;
}
.ant-dropdown-trigger{
    position: relative;
    left: 634px;
    top: 251px;
    height: 46px;
}
.highcharts-background{
    fill: #7d7907;
}
.biaoqian{
    position: relative;
    left: 1413px;
    top: -26px;
    color: transparent;
    &:hover{
        color: transparent!important;
    };
}
.baioqian:hover{
    color: transparent!important;
}
#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}
.backgroundyellow{
    background-color:#7D7907!important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(138, 138, 5, 0.69)!important;
} 
.cardinfo{
    position: relative;
    top: 0px;
}
.lanzi{
    color:#3C8EE9;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
.touxiang{
    position: relative;
    top: 0px;
    height: 240px;
}
.usercard{
    width: 888px!important;
    position: relative;
    left: -131px;
    top: 0px;
}
.userbtn{
    position:relative;
    left:148px;
    margin-top: 30px;
}